<div class="background">


  <div class="header">LET'S DO THE MATH!</div>

  <div class="calculator">
    <div class="display">
      <div class="result">{{ result || currentValue || '0' }}</div>
    </div>
  
    <div class="buttons">
      <button id="circles" [ngStyle]="{'color': 'white', 'background-color': '#6d511e'}" (click)="pressKey('C')">AC</button>
      <button id="circles" (click)="pressKey('C')">
        <img width="24" height="24" src="https://img.icons8.com/material-outlined/24/clear-symbol--v1.png" alt="clear-symbol--v1"/>
      </button>
      <button id="circles" (click)="pressKey('%')">%</button>
      <button id="circles" (click)="pressKey('/')">/</button>
      <button (click)="pressKey('7')">7</button>
      <button (click)="pressKey('8')">8</button>
      <button (click)="pressKey('9')">9</button>
      <button (click)="pressKey('*')">
        <img width="20" height="20" src="https://img.icons8.com/ios-filled/50/multiply.png" alt="multiply"/>
      </button>
  
  
      <button (click)="pressKey('4')">4</button>
      <button (click)="pressKey('5')">5</button>
      <button (click)="pressKey('6')">6</button>
      <button (click)="pressKey('-')">-</button>
  
      <button (click)="pressKey('1')">1</button>
      <button (click)="pressKey('2')">2</button>
      <button (click)="pressKey('3')">3</button>
      <button (click)="pressKey('+')">+</button>
  
      <button (click)="pressKey('0')">0</button>
      <button (click)="pressKey('.')">.</button>
  
      <button class="equal" (click)="pressKey('=')">=</button>
    </div>
  </div>
  


</div>


